  .police {
    font-family: 'Roboto', sans-serif;
  }

  
  /* Définition des constantes */
 :root {
     --gap: 10px;
     --border-radius: 10px;
     --scroolbar-with: 10px;
 }
 /* Remettre à zéro les marges de tous éléments pour contrecarrer les valeurs par défaut prédéfinies du fureteur */
 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
 }

 /* Classe pour la mise en page utilisant les "flexbox" */
 .page {
     /* disposition verticale des sections header, main et footer */
     display: flex;
     flex-direction: column;
     height: auto;
      background-color: black;
     /* 100% de la hauteur du viewport pour assurer la réactivité verticale */
     gap: var(--gap);
     padding: var(--gap);
     
}

     .favicon {
         height: 32px;
         width: 32px;
     }

     .header,
     .footer {
        background-color: black;
         font-size: 1.5em;
         font-weight: bolder;
         display: flex;
         gap: 8px;
         align-items: center;
color: white;
         .menu {
             /* disposition horizontale des items de menu */
             display: flex;
             gap: 12px;
             flex-wrap: wrap;
             justify-content: left;
         }

         .menuItem {
             flex-grow: 1;
             /* taille adaptative */
             font-size: 0.60em;
             font-weight: bold;
             text-decoration: none;
             color: dodgerblue;
             border: none
         }
         .menuItem:hover {
            color:black;
         }

         .selectedMenuItem {
             color: blue;
         }
     }

     .main {
         flex: 1;
         /* permettre de le formatage flex du parent */
         min-height: 100vh;
         /* hauteur minimum relative à la hauteur du viewport*/

         /* contrecarrer les styles de la classe page */
         border: none;
         padding: 0px;
         background: black;

         /* Alignement horizontal des éléments enfants */
         display: flex;
         
         flex-direction: row;
         gap: var(--gap);
          

         .scrollSection {
             overflow-y: auto;
           
         }

         .content {
            text-align: center;
            
             flex-grow: 1;

             .bigImage {
                 background-position: center;
                 background-repeat: no-repeat;
                 background-size: cover;
                 aspect-ratio: 16/9;
             }
         }

         .justifiedText {
             text-align: justify;
             margin-top: var(--gap);
             color: white;
             font-size: 30px;
             padding: 20px;
             padding-top: 100px;
         }

        


         

        

     }

     .main>* {
         background: black;
         padding: var(--gap);
         border: 2px solid white;
     }
 

 .page>* {
     /* cibler tout les enfants enfant de l'éléments de classe page */
     background: black;
     padding: var(--gap);
     border: 1px solid white;
 }


 

 /* style pour formater les icones de classe font-awsome */
 .fa-icon {
     flex: 1;
     font-size: 2em;
     color: dodgerblue;
     cursor: pointer;
 }

 /* Changer la couleur de l'élément survolé de classe fa-icon */
 .fa-icon:hover {
     color: blue;
 }

 @media (min-width: 500px) and (max-width: 1000px)
        {
     /*** classes pour l'apparence de la barre de défilement ***/
     ::-webkit-scrollbar {
         border-radius: var(--border-radius);
         width: var(--scroolbar-with);
     }

     ::-webkit-scrollbar-track {
         box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
         border-radius: var(--border-radius);
     }

     ::-webkit-scrollbar-thumb {
         border-radius: var(--border-radius);
         box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
     }

     .momo-trust-display-regular {
         font-family: "Momo Trust Display", sans-serif;
         font-weight: 400;
         font-style: normal;
         font-size: 1.8em;
         color: white
     }
      .container {
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }

  .left
    {
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
  
  .right {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .box {
    width: 90%;
    height: 120px;
    min-height: unset;
  }

  .yellow {
    width: 90%;
    height: 200px;
    min-height: unset;
  }
 }

 .author {
     width: 30%;
     min-width: 300px;
     margin: auto;
     margin-top: 50px;
     font-size: 1.5em;
color: white;
     ul {
         list-style-type: none;
     }
 }
  .container {
  background-color: black;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  justify-content: center;
 padding-top: 90px;
  max-width: 1000px;
  width: 100%;
}


.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1.2;
}

.center {
  
  justify-content: center;
  gap: 20px;
  
}

.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1.2;
}


.box {
  min-height:100px;
  border-radius: 10px;
  flex: 1;
  padding: 20px;
  font-size: 17px;
  text-align: left;
}
.box img{
 width: 100%;
   height: 100%;
   background-size: cover;
  object-fit: cover;
   background-repeat: no-repeat;
   background-position: center;
}


.green  { 
  background: black;
     color: white;
     border: 1px solid white;
 
  
}



.red    { 
  
   background: black;
     color: white;
     border: 1px solid white;
}


.yellow { 
  width: 600px;
  height: 400px;
 background: black;
   
     border: 1px solid white;
}

.boximagevideo {
  min-height:100px;
  border-radius: 10px;
  
  padding: 20px;
  font-size: 17px;
  text-align: left;
}



    .boximagevideo iframe {
    width: 100%;   /* prend toute la largeur du div */
    height: 100%; 
    }

    .background-div {
       
        width: 100%; 
        height: 400px; 
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat; 

    
    }


    .titrecentre{

color:white



    }

    .photo-profil img {
        margin-top: 34px;
    width: 430px;
    height: 430px;
    border-radius: 50%;
    border: 5px solid white;

   

    
    background-size: cover;
    background-position: center;
}